@model IEnumerable<folio.Models.Lecturer>

@{
    ViewData["Title"] = "View Lecturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["LecturerId"] = (Context.Items["UserInfo"] as UserInfo).Id;
}
@section Navbar
    {
    <ul class=" navbar-nav flex-grow-1 flex-sm-row justify-content-sm-end">
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="Details" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Profile</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-controller="Suggestion" asp-action="Index" asp-route-id="@ViewData["LecturerId"]">Post Suggestion</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-action="ViewMentees" asp-controller="Lecturer" asp-route-id="@ViewData["LecturerId"]">View Mentees</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="#">Skill Sets</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="#">Change Password</a>
        </li>

        <li class="nav-item text-center mx-sm-3">
            <button class="search button">
                <img alt="Search" src="/img/search@2x.png" />
                <span class="d-sm-none"> Search </span>
            </button>
        </li>
    </ul>
}

<h1>Change Password</h1>
<div class="container">
    <div class="row my-5">
    <a id="home-logo" class="mx-auto" asp-controller="Home" asp-action="Index">
      <img class="faded logo" alt="folio" src="/img/logo.png">
    </a>
  </div>
    <div class="row">
        <!-- CP card -->
        <div class="card fancy col-10 col-sm-8 col-md-6 col-lg-4 mx-auto my-5">
            <div class="card-body">
                <div class="card-title">
                    Change Password.
                </div>
                <div class="alert alert-danger" role="alert" id="change status">
                </div>
                <!-- login form -->
                <form asp-action="LecturerPassword" asp-controller="Lecturer">
                    <div class="md-form">
                        <input type="password" name="NewPassword" class="form-control" id="new-Password">
                        <label for="new password">Email Address</label>
                    </div>

                    <div class="md-form">
                        <label for="login-Password">Password</label>
                        <input type="password" name="ComfirmPassword" class="form-control" id="comfirm-Password">
                    </div>

                    <button class="btn button striking" type="submit" name="submit-btn">
                        Change
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
