/* 
 * Forms
 * Common Styling
*/

form {
    position: relative;
}


form .form-group {
    margin-top: 1.6em;
    margin-bottom: 3.2em;
}

form .form-group-header {
    font-style: "Roboto", sans-serif;
    font-weight: 500;
}

form .submit-message {
    font-style: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
}

/* tagify */
form .tt-menu {
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 9px rgba(0,0,0,0.06), 0 3px 9px rgba(0,0,0,0.06);
}

form .tt-menu .tt-suggestion {  
    padding: 0.6em;
}

form .tt-menu .tt-suggestion:hover {
    background-color: #f4f4f4;
}

form .twitter-typeahead {
    display: block !important;
}
