@model IEnumerable<folio.Models.SkillSet>

@{
    ViewData["Title"] = "View Skillsets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navbar
    {
    <ul class=" navbar-nav flex-grow-1 flex-sm-row justify-content-sm-end">
        <li class="nav-item text-center mx-sm-3">
            <a class="button" style="border-bottom: 1px solid #FFD00B;" href="">View Profile</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="">Post Suggestion</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="">View Mentees</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="">Skill Sets</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" href="">Change Password</a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <button class="search button">
                <img alt="Search" src="/img/search@2x.png" />
                <span class="d-sm-none"> Search </span>
            </button>
        </li>
    </ul>
}

