/*
 * Auth - Login View
 * Styling
*/

#home-logo { 
    display: block;
}

#login-card {
    position: relative;
    border-radius: 0;
    border-style: none;
    box-shadow: 0 3px 9px rgba(0,0,0,0.06), 0 3px 9px rgba(0,0,0,0.06);

    padding-top: 4.2em;
}

#login-card .card-title {
    position: absolute;
    top: -12%;
    left: -8%;
    
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 4.2em;
    text-shadow: 0px 3px 20px #DDD;
}

#login-form {
    margin-top: 2em;
    margin-bottom: 4.2em;
}

/*
#login-form input:not([type="submit"]) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.2em;
    width: 100%;
}
*/

#login-form button[type="submit"] {
    position: absolute;
    top: 92%;
    left: 68%;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 3px 9px rgba(0,0,0,0.06), 0 3px 9px rgba(0,0,0,0.06);
    text-transform: none;
}

#login-card #sign-up.button {
    padding: 0 !important;
}
