@{
ViewData["Title"] = "Login";
ViewData["IsNavBarDisabled"] = true;
}

<div class="container">
  <div class="row">
    <img class="faded logo" alt="folio" src="/img/logo.png">
  </div>
  <div class="row"> 
    <!-- login card -->
    <div id="login-card" class="card col-10 col-6-sm">
      <div class="card-body">
        <div class="card-title">
          Login.
        </div>
        <!-- login form -->
        <form accept-charset="utf-8">
          <input type="email" name="EmailAddr" id="login-EmailAddr" value="">
          <input type="password" name="Password" id="login-Password" value="">
          <input type="submit" name="submit-btn" id="login-btn-submit">
        </form>
      </div>
    </div>
  </div>
</div>
