@model folio.Models.Project
@{
    ViewData["Title"] = "Edit";
    ViewData["ProjectId"] = (Context.Items["UserInfo"] as UserInfo).Id;
}

@section Navbar {
    <ul class="navbar-nav flex-grow-1 flex-sm-row justify-content-sm-end">
        <li class="nav-item text-center mx-sm-3">
            <button class="search button">
                <img alt="Search" src="~/img/bell.png" />
                <span class="d-sm-none"> Search </span>
            </button>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-controller="Auth" asp-action="Portfolio">
                Portfolio
            </a>
        </li>
        <li class="nav-item text-center mx-sm-3">
            <a class="button" asp-controller="Auth" asp-action="Projects">
                Projects
            </a>
        </li>
    </ul>
}
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Edit Project</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">

    </p>

    <div class="row">
        @{ 
            string pTitle = Model.Title;
            string pURL = Model.ProjectUrl;
            string pDesc = Model.Description;
            string pposter = Model.ProjectPoster;
        }
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form asp-action="Edit" method="post">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4">
                        <div class="md-form mb-0">
                            <input type="text" id="ProjTitle" class="form-control" asp-for="Title" value="@pTitle">
                            <label for="name" class="ProjTitle">Project Title</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4">
                        <div class="md-form mb-0">
                            <input type="text" id="ProjectURL" class="form-control" asp-for="ProjectUrl" value="@pURL">
                            <label for="email" class="projURL">Project URL</label>
                        </div>
                    </div>


                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <!--Grid row-->
                <!--Grid row-->

                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-8">

                        <div class="md-form">
                            <input type="text" id="Description" rows="1" class="form-control md-textarea" asp-for="Description" value="@pDesc">
                            <label for="message">Project Description</label>
                        </div>

                    </div>

                </div>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput" asp-for="ProjectPoster" value="@pposter">
                            <label class="custom-file-label" for="fileInput">File Label</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-group input-group-lg ">

                    <a class="btn font-weight-bold" href="/Project/UploadPoster/@ViewData["ProjectId"]"
                       style="font-size:15px; background-color:#e8e8e8">Upload Photo</a>
                </div>
                <br />
                <div class="buttonsubmit">
                    <button class="btn button striking" type="submit" name="submit-btn" id="create-btn-submit" asp-action="Index">
                        Back
                    </button>


                    <button class="btn button striking" type="submit" name="submit-btn" id="create-btn-submit">
                        Confirm
                    </button>
                </div>
            </form>

          
        <!--Grid column-->

    </div>
</div>
</section>

<style>
    .row {
        justify-content: center;
    }

    .buttonsubmit {
        float:left;
        margin-left:450px;
       
    }
    .btn.font-weight-bold{
        margin-left:460px;
    }
</style>
