@{
ViewData["Title"] = "Home Page";
}

@section Navbar {
<partial name="_NavbarAnonymous" />
}

<div class="landing container text-center"> 
  <div class="row mx-2">
    <img class="jumbotron-fluid" alt="Stand out from the crowd." src="/img/landing_header.png"/>
  </div>
  <div class="row">
    <button class="button call-to-action">
      <span class="text">View Porfolios.</span>
      <div class="stack">
        <img class="expand" src="/img/down@2x.png"/>
      </div>
    </button>
  </div>
</div>
