@{
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - folio_ui</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:500|Roboto:500,900&display=swap" rel="stylesheet">

    <!-- jquery -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                  crossorigin="anonymous"
                  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                           asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                           asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                                                                                                   crossorigin="anonymous"
                                                                                                   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                  crossorigin="anonymous"
                  integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>

    <!-- bundled js -->
    <script defer src="~/js/bundle.js"></script>
  </head>
  <body>
    <!-- check if navbar is enabled -->
    @if(ViewData["IsNavbarDisabled"] == null || (bool)ViewData["IsNavbarDisabled"] == false){
    <header class="my-4">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container flex-col flex-sm-row">
          <!-- logo -->
          <a class="navbar-left" asp-controller="Home" asp-action="Index">
            <img class="brand-logo" alt="folio" src="/img/logo.png"/>
          </a>  
          <!-- navbar collapse toggle button --->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- navigation items -->
          <div class="navbar-collapse collapse flex-sm-row mt-2 mt-sm-0">
            @RenderSection("Navbar", required: false)
          </div>
        </div>
      </nav>
    </header>
    }

    <main>
      @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
    </footer>
  </body>
</html>
